{{> header this}}

<div class="user-name">
	<h2>{{user.name}}</h2>
</div>

<div class="interface">
	<div class="canvas-holder">
		<div class="canvas"></div>
	</div>

	<div class="list">
		<h4>Objecten</h4>
		<ul>
		{{#each user.objects}}
			<li><span class="toggle-images"><i class="icon ion-arrow-right-b"></i><i class="icon ion-arrow-down-b"></i>&nbsp;Object {{@index}}</span>

			<ul>
				{{#each nodes}}
					<li>
						<input class="image-checkbox" id="img_{{id}}" data-id="{{id}}" type="checkbox" />
						<label for="img_{{id}}">Afbeelding {{number}}</label>
					</li>
				{{/each}}
			</ul>
			</li>
		{{/each}}
		</ul>
	</div>

	<div class="timeline">
		<div class="slider">
			<div class="indicator"></div>
		</div>

		<div class="controls">
			<i class="icon ion-ios-skipbackward prev-keyframe"></i>
			<i class="icon ion-play"></i>
			<i class="icon ion-ios-skipforward next-keyframe"></i>
			<span class="add-keyframe">
				<i class="icon ion-plus"></i> keyframe
			</span>
			<span class="remove-keyframe">
				<i class="icon ion-android-close"></i> keyframe
			</span>
		</div>
	</div>
</div>

<script type="text/javascript">var user = {{{json user}}}</script>

{{> footer}}
